@model EBillingSys.Models.BillDetail
@{
    ViewBag.Title = "ViewBill";
}
<div class="container shadow rounded mt-4">
    <div class="row">
        <div class="col-6">
            <h3 class="text-primary">E-Billing System</h3>
            <pre>
Mumbai, Maharashtra, India 123456
Phone   : 123-456-7890
Website : www.e-billingsys.com
</pre>
        </div>
        <div class="offset-3 col-3 text-end">
            <h3 class="text-primary  ">E-Bill</h3>
            <pre>
Number :@Model.Id
</pre>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3">
            <h4 class="bg-primary text-white">Bill</h4>
            <pre>
@Model.CustomerName
@Model.MobileNumber
@Model.Address
</pre>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>ProductName</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.ProductName</td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
  
    <div class="row mt-2">
        
        <div class="col-12 mb-2">
            <h4 class="float-end">Total Amount : @Model.TotalAmount</h4>
                <button class="btn btn-primary btn-sm" onclick="printBill()">Print</button>
        </div>

    </div>
</div>
<script>
    function printBill() {
        window.print();
    }
</script>